<% if false %>
ここはコメントアウト。コメントアウト外すと総表示数が表示される
<%= page_entries_info @links %>
<% end %>

<ol>
<% @links.each do |link| %>

<li>

    <div class="thumbnail-images">
      <%= link_to image_tag(link.avatar.url(:thumb), alt: "Thumbnail"),
                  link.url %>
    </div>


    <div class="link row clearfix">

      <h2>
        <div class="btn-group">
          <%= link_to like_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-chevron-up"></span><br>
              <%= link.votes_size %>
          <% end %>
        </div>
        <%= link_to link.title, link_path(id: link.id) %><br>
      </h2>

      <h3>
       <p class="comment-p"> <%= image_tag(link.user.avatar.url(:thumb), alt: "Profile pic") %><%= link.comment %> </p>
      </h3>

    </div>

    <div style="clear: both;"></div>
    <hr style="margin-top:0px;">
   
</li>
<% end %>
</ol>

<%= paginate @links %>