<% @links.each do |link| %>

    <div class="thumbnail-images">
      <%= link_to image_tag(link.avatar.url(:thumb), alt: "Thumbnail"),
                  link_path(id: link.id) %>
    </div>

    <div class="link row clearfix">

      <h2>
        <div class="btn-group">
          <%= link_to like_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-chevron-up"></span><br>
              <%= link.votes_size %>
          <% end %>
        </div>
        <%= link_to link.title, link_path(id: link.id) %><br>
      </h2>

      <h3>
        <%= link.comment %><br>
      </h3>

    </div>

    <div style="clear: both;"></div>
    <hr>

<% end %>